<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Articles</title>
  </head>

  <body>
    <h2>Articles</h2>
    <h3>Check out the articles below!</h3>

    <ul>
      <% @articles.each do |article| %>
        <li><%= article["title"] %>: <%= article["description"] %>:<a href = "<%= article["url"] %>"><%= article["url"] %></a></li>
      <% end %>
    </ul>

    <a href='articles/new'>Submit New Article</a>

  </body>
</html>
